body {
  font-family: Arial;
  background-color: white;
  color: black;
  margin: 20px;
  padding: 0;
  line-height: 1.8;
}

footer {
  background-color: rgba(18, 93, 255, 0.905);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
  border: 1px solid gray;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
}

div {
  margin-bottom: 15px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0px;
}

pre {
  background-color:rgb(234, 234, 234);
  padding: 10px;
  border-radius: 5px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color:red;
}

img {
  margin-top: 10px;
  border-radius: 4px;
  width: 300px;
  height: 200px;
}

iframe {
  margin-top: 10px;
  border-radius: 8px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
